// Blog Sidebar
.blog-sidebar
  // Featured Posts
  .blog-featured-group
    span.blog-header Featured Posts
    each post in collections.blog
      if post.data.featured === true
        a.blog-feature(href=post.url)
          .blog-featureImage
            img(src=post.data.image, alt=post.data.imageAlt, width="60", height="60", decoding="async")

          div.content-group
            h3.feature-h3= post.data.blogTitle
            span.feature-date= post.date.toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })
  // Add anything else in the sidebar below