// ============================================
// Footer
// ============================================

footer#footer
  .container
    .left-section
      a.logo(href='/')
        img(eleventy:ignore loading='lazy' decoding='async' src='/assets/svgs/logo-white.svg' alt='logo' width='264' height='78')
      p Your Dream Home Starts Here – Let’s Build It Together!
    .right-section
      .lists
        //to-do Make it dynamic
        ul
          li
            h2 Information
          each entry in navPages
            li
              a(class=entry.url === page.url ? "active" : "" href=entry.url)
                | #{entry.data.eleventyNavigation.key}
        ul
          li
            h2 Services
          li Roofing
          li General building
          li Painting
          li Carpentry
        ul
          li
            h2 Contact
          li
            a(href='/contact')
              | #{client.address.lineOne}
              br
              | #{client.address.city}
          li
            a(href='tel:+610431893983') T: #{client.phoneFormatted}
          li
            a(href='mailto:procarehomeimprovements1@gmail.com') Click to Email
  .credit
    span Designed and Hand Coded by
    |
    |
    a(href='https://leonovdesign.com' target='_blank') LeonovDesign.com
    |
    |
    span.copyright Copyright 2023 -
      |
      |
      script.
        document.write(new Date().getFullYear());